.host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-width: 0;
}

.collectionIdText {
  composes: typography-body-medium from global;
  color: var(--text-base-primary);
}
